name: Build and deploy Python project to Azure Function App - func-resume-jaan

on:
  push:
    branches:
      - main
    paths:
      - "functions/**"
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: "functions"
  PYTHON_VERSION: "3.11"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        working-directory: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        run: pip install -r requirements.txt

      - name: Zip artifact for deployment
        working-directory: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        run: zip -r ../release.zip .

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: "Deploy to Azure Functions"
        uses: Azure/functions-action@v1
        with:
          app-name: "func-resume-jaan"
          package: "release.zip"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_CD177F46D7334FFCA14661E88AC68E8B }}
